<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="apple" class="com.alexhuang.spring.aware.Apple">
		<property name="name" value="bigApple" />
		<property name="size" value="123456" />
	</bean>
	
	<bean id="market" class="com.alexhuang.spring.aware.Market"/>  
	
	
</beans>